body{
  background: #00589F;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00589F', endColorstr='#0073CF', GradientType=0);
  background: -webkit-linear-gradient(to bottom, #00589F 50%, #0073CF) !important;
  background: -moz-linear-gradient(to bottom, #00589F 50%, #0073CF) !important;
  background: -ms-linear-gradient(to bottom, #00589F 50%, #0073CF) !important;
  background: -o-linear-gradient(to bottom, #00589F 50%, #0073CF) !important;
  background: linear-gradient(to bottom, #00589F 50%, #0073CF) !important;
  color: black;
}

div.well{
  height: 300px;
} 

.Absolute-Center {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}

.Absolute-Center.is-Responsive {
    width: 50%; 
    /*height: 35%;*/
    min-width: 200px;
    max-width: 400px;
    max-height: 350px;
    padding: 40px;
    padding-top: 20px;
    -webkit-box-shadow: 0px 0px 48px -5px rgba(0,0,0,0.66);
    -moz-box-shadow: 0px 0px 48px -5px rgba(0,0,0,0.66);
    box-shadow: 0px 0px 48px -5px rgba(0,0,0,0.66);
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
}

#logo-container{
  
  background-image:url('../img/logo.jpg');
}


#logo-container
{
    background-image: url(../img/logo_header.png);
    height: 60px;
    margin-bottom: 10px;
    background-position: center;
    width:100%;
    background-size: 50px auto;
    background-repeat: no-repeat;
}

img #logo_login
{
    height: 42px;
}